{% extends 'main_app/index.html' %}

{% block content %}
<h3>Школа - это источник знаний, центр красоты и добра.</h3><br>
<p>Школа-лицей № 4 имени Абая была открыта в 1986 году. «То, что он говорит, унаследует одну страну. Наши предки, наши мечты "- это имя Абая, гордого, мудрого и личного деятеля нашей нации.<br>

        С 1989 года были открыты классы казахского языка, и учебный процесс ведется на двух языках.<br><br>
        
        В 1995 году решением городского совета школа была названа в честь Абая. Школу возглавлял заслуженный учитель Республики Казахстан, Почетный просветитель Республики Казахстан, заслуженный гражданин города Сатпаева, владелец знака Ю.Алтынсарин, Д.М. Дакаримова, предприниматель в 1986-2012 годах. С сентября 2012 года руководителем школы является талантливый, перспективный директор Г.А. Заппасова. В школе ученики имеют полный доступ к образованию, спорту, красоте, красоте и эстетическому вкусу.<br><br>
        
        Есть 55 интерактивных досок, 55 классных комнат, 2 спортивных зала, 2 языковых лаборатории, хореография, мультимедийные классы, 5 новых видов биологии, химии, физики и технологии для мальчиков и девочек. Школьные залы, украшенные эстетическим вкусом, повышают познавательный уровень учащихся и заботятся об окружающей среде. В 2015 году школа прошла капитальный ремонт и была модернизирована и модернизирована.<br><br>
        
        Система школьного образования 3-х ступенчатая:<br>
        
        Уровень I - начальная школа;<br>
        
        II этап - основная школа;<br>
        
        III этап - средняя школа.<br><br>
        
        4 школы-лицей имя Тщательного Астан Джих 2000-2001 учебного года на «М б много культурной, этнической образовательной пространство м б культуры Астан избран как проблема» эксперимент работал. Школа разработала комплексный, многонациональный U. узко сделал модель лицеистов каждый балл лита образовавших Ассамблеи народа Казахстана школы, направленных на формирование поликультурной личности. В 2000 году были созданы этнопедагогика, абай и кабинет. Мой Абай м Астан накоплен обилие мер. Имя поэта, место рождения, родители, дети и Jaggy содержания стендов rpaqtarı комфортный U.плотность необычна. AK Астан nanbaevtı AF, черные слова и произведение из правильных материалов на rïzmderi богатых б типа всесторонними. Кабинет был полностью обеспечен книгами о творчестве поэта.<br><br>
        
         Патриоты своей страны были созданы, как они говорят: «Любит традиции, любит людей». В каждой неделе в школе б Астан ranmen начинается. В соответствии с Конституцией Республики Казахстан, фарфор для государственных символов организован. М л Президент Республики преданных студентов уважать дух казахстанского патриотизма б служить rbïelewge. «Моя страна каждый год - » ежемесячно Астан группа , которая представляет жизнь известных людей, организованных лекций и Jaggy работы.
        
        В всестороннем развитии студентов в школе на самых популярных фигур в стране, студенты на школьном собрании так хорошо , б , проживающих в сельской местности.
        
        Республиканский фонд «Бобек» народ Республики Казахстан президента S.A.Nazarbaeva б rtisteri Б.Тулегеновой, Ye.Serkebayev, Илия Жаканов, оперный композитор, б и балета б rtisi K.Mırjıqbaev, б - й Зарина, Марат Омаров, FI rmanğazı U. лита M-инструменты оркестра дирижер A.Mırzabekov общественный деятель в Астан , подразумевая Ауэзова, заместитель министра  народного артиста Республики Казахстан Ерлан Арын, X.Mambetov интересна студентам, если вы поэт Эрман памятные вечера, закончил крылья своей мечты, искусства поклонения, плата за обучение Рейтинг.
        
        Старшеклассники были успешного обучения в целях обучения в высшем учебном заведении 200 6 7 -200 учебный год кредитная система образования была введена в качестве эксперимента с технологией и ППЗ.
        
        Кредитная система образования технологии школа в течение трех лет в качестве пилота проводимости U. стаза один общин используется для чтения намного больше от ваших тегов . Основной формой обучения Лекция St б stürli, pikirtas Эффективное использование лекций, решение проблем, визуальных исследований . Эксперименты были подведены в регионе.
        
        В 2010-2011 учебном году школьная команда начала продуктивную работу по повышению качества образования на основе технологии Ф. Я. Вассермана «Биоинформатика и синергетика», которая внедряется сегодня.
        
          В школе-лицее в 2017-2018 учебном году работают 143 учителя. 32 из них относятся к высшей категории, а 34 - к учителям первой категории. Обладатель груди Ю. Алтынсарина - учитель географии Г.Б.Гасенова. В школе 3 лучших воспитателя Казахстана. Это: 
        
        Курманбаева А.С., Хайдерсова Б.А., Денисюк С.Н.,
        
                 Выпускники школы обучаются в дальнем и ближнем зарубежье и в настоящее время занимают различные должности в республике. К ним относятся: S.Ïmambay, Nyssanbayev А, Сагиндик К. Ю., Жакупы Н, Бектурганов А, Гул, Т, Н Дударев после Боранбаев А, Аманжолова Нуртазина L, А, Бессарабы А, Bayekenov К., Абильдины F, G Awkaşeva Филины , Жарулина Г., Жандарбекова Д., Айдарханова Н., Шайкибеков Т., Шамхалов Е., Жумабаев Е., Каирбеков М., Давыдок Е., Махамбет К., Эгемберди Ю., Еркимбай А., Алгаринова Ю., Абен Б.
        
        Все мероприятия в школе направлены на воспитание поколения, которое станет будущим страны. Учителя, которые осознают свою обязанность обучать их национальному языку, бизнесу, иностранным языкам, навыкам работы на компьютере и уважают свой родной язык и историю, работают с творчеством.</p>
{% endblock %}