{% extends 'main_app/index.html' %}

{% load static %}

{% block content %}
  <h1 class="history_txt">Школа-лицей № 4 имени Абая была открыта в 1986 году.<br><a href="/history">Читать далее...</a></h1>
  <hr>
  <h1 class="history_link"><a href="/news">Последние новости</a></h1>
  <div class="news">
      <div class="news__item">
          <h1 class="news__title">{{ news.title }}</h1>
          <p class="news__text">{{ news.text }}</p>
          <div class="published">
              <p class="date">{{ news.pubdate.date }}</p>
              <p class="time">{{ news.pubdate.time }}</p>
          </div>
      </div>
  </div>
{% endblock %}