{% extends 'main_app/index.html' %}

{% load static %}

{% block content %}
  <h1>Основные этапы инновационной работы коллектива</h1><br>
  <p style="font-size: 1.3rem; font-family: 'Open Sans';" >В первые годы работы коллектива был успешно проведен республиканский семинар по проблемам педгогики сотрудничества, где участниками были ученые, педагоги-новаторы из Минска, Казани, Алматы и всех регионов Казахстана (1989г.)

    В 90-ые годы школа совместно с Красноярским экспериментальным центром во главе с учеными Дьяченко и Мкртчан работали над внедрением коллективного способа обучения (КСО).
    
    Пути реализации Концепции поликультурного образования решались творческим коллективом школы в 2000 годы. Работа была завершена обобщением опыта и распространением  в школах области, созданием школьной Ассамблеи народов Казахстана и открытием кабинета «Этнопедагогика». Учителя казахского языка и литературы с казахским языком обучения объединились в МО «Народная педагогика» и стали работать в тесном сотрудничестве с кафедрой педагогики и психологии ЖезУ им.Байконурова (ректор – Наурызбай Ж.Ж.)
    
    2000г. – школа - победитель республиканского конкурса «Лучшая школа» в номинации «Самая красивая школа».
    
    2003г.– прошла региональная конференция совместно с преподавателями ЖезУ им.Байконурова по проблемам поликультурного образования.
    
    2004 г. – областная НПК совместно с ИПК и ПГСРО Карагандинской области.
    
    Следующие годы педагогический коллектив продолжает свою деятельность по проблеме: «Обновление содержания образования школы-лицея на этапе перехода к 12-летнему образованию».
    
    С 2010 года школа-лицей вошла в городской модуль по внедрению технологии БиС. Основная идея технологии заключается в создании школы современных менеджеров и лидеров, самоорганизации каждого ученика и всего коллектива для создания «Единого коллективного разума» с опорой на общечеловеческие ценности. В первые же годы экспериментальной работы школьным самоуправлением было охвачено от 75 до 80% обучающихся.</pstyle
    ><br><br>
    <h3>Школьное самоуправление:</h3><br>
    <p>Ученическое самоуправление «Жас кыран» - 10%</p><br>
    <p>Лидеры классов – 5%</p><br>
    <p>Законодатели классов – 5%</p><br>
    <p>Министры классов – 5%</p><br>
    <p>Тренеры – 35%</p><br>
    <p>Комитет начального звена – 9%</p><br>
{% endblock %}