*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  height: 1920px;
}

.container {
  padding: 0 1.5rem;
}

.header__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: .1px solid #f4f4f4;
  -webkit-box-align: center;
  align-items: center;
}

.header {
  box-shadow: 0 0 5px 0 #949494;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.sidebar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 0 5px 0 #a0a0a0;
  background-color: #fff;
  padding: .5rem;
  position: fixed;
}

.sidebar__item {
  color: #000;
  padding: .8rem;
  font-size: 17px;
  text-transform: capitalize;
  font-family: Roboto;
  font-weight: 700;
}

.sidebar__item:hover {
  background-color: #f0f0f0;
}

.logo {
  font-family: 'Roboto Slab';
}

.main {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-left: 24rem;
}

.news__item {
  padding: 2rem;
  text-align: start;
  box-shadow: 0 0 5px 0 #a5a5a5;
  margin-top: 1rem;
}

.news__item:first-child {
  margin-top: 0;
}

.news__title {
  font-family: Roboto;
}

.news__text {
  font-size: 16px;
  margin-top: 1rem;
  font-family: 'Roboto Slab';
}

.nav_btn {
  background-color: transparent;
  padding: 1rem;
  outline: 0;
  border: none;
  display: none;
  position: relative;
}

.nav_btn:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.sidebar_hided {
  opacity: 0;
  pointer-events: none;
}

.nav_btn__line {
  width: 40px;
  background-color: #000;
  height: 5px;
}

.published {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  font-weight: 700;
  color: #3d3d3d;
  font-size: 14px;
}


.label {
  margin: 3rem 0;
  margin-left: 24rem;
  font-size: 50px;
}

.info_title {
  margin-bottom: 2rem;
}

.sidebar__item_active {
  color: #5564bd;
}


@media screen and (max-width:720px) {
  .nav_btn {
    display: block;
  }

  .main {
    margin-left: 1rem;
  }

  .label {
    margin-left: 1rem;
  }
}

@media screen and (min-width:721px) {
  .sidebar {
    opacity: 1;
    pointer-events: all;
  }
}